{% load static %}
<div class="" id="footerContainer">
    <div class="row text-center">
        <div class="col-sm-4 justify-content-left">
            <p>&copy; Cruize Beyond Ltd. 2023 </p>
        </div>
        <div class="col-sm-4 justify-content-center">
            <a class="link-light" href="https://www.youtube.com/@discoverieswithtonycruize3337"><i class="fa-brands fa-youtube"></i></a>
            &nbsp;
            <a class="link-light" href="https://www.tiktok.com/@tonycruizeinternational"><i class="fa-brands fa-tiktok"></i></a>
            &nbsp;
            <a class="link-light" href="https://www.instagram.com/tonycruize/"><i class="fa-brands fa-instagram"></i></a>
            &nbsp;
            <a class="link-light" href="https://wa.me/254723450755"><i class="fa-brands fa-whatsapp"></i></a>
        </div>
        <div class="col-sm-4 justify-content-right">
            <a class="link-light" href="http://jatasolutions.edenconsultants.co.ke">
                <p>Developed by: Jata Digital</p>
            </a>
        </div>
    </div>
</div>

{% comment %} <script src="https://www.paypal.com/sdk/js?client-id=AYpx_A0OjYbtoKUOxhxfXo4PHe_I7zAlRcvyOH-Sz9qTgkB_dTDWF6bdTiLiXCa2n5Yq-_7skkZnaMmN"></script> {% endcomment %}


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
<script src="{% static "js/main.js" %}"></script>
<script src="{% static "js/checkout.js" %}"></script>
<script src="{% static "js/client.js" %}"></script>

</body>
</html>

