{% extends 'header.html' %}
{% block content %}
{% load static %}

<div class="container">
    <main id="checkoutContent">
        <!--Update tour modal-->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" >
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content" id="m-pesaModalContent">
                    <div class="modal-header">
                        <h5 class="modal-title" id="m-pesaModalLabel">Update Tour Form</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form method="POST" action="{% url "tour-update" booking %}">
                            {%csrf_token%}
                            {% for field in form %}
                                <div class="form-floater">
                                    <label>{{field.label}}:</label>
                                    {{field}}
                                    
                                    <br>
                                </div>
                            {% endfor %}
                            <div class="modal-footer">
                                <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-outline-success">Update</button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>

        <!-- M-Pesa modal -->
        <div class="modal fade" id="m-pesaModal" tabindex="-1" aria-labelledby="m-pesaModalLabel" aria-hidden="true" >
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content" id="m-pesaModalContent">
                    <div class="modal-header">
                        <h5 class="modal-title" id="m-pesaModalLabel">M-Pesa</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form method="POST" action="{% url "mpesa" booking %}">
                            {%csrf_token%}
                            <div class="input-group mb-3">
                                <label class="input-group-text" for="tourDate">Amount</label>
                                <input class="form-control" type="text" value="{{converted_total}}" aria-label="tourDate" name="amount" readonly>
                            </div>
                            <div class="input-group mb-3">
                                <button class="btn btn-outline-info" type="button" aria-expanded="false">Phone No.</button>
                                <button class="btn btn-outline-secondary" type="button" data-bs-toggle="dropdown" aria-expanded="false">+254</button>
                                <input type="number" class="form-control no-arrow" aria-label="" placeholder="712345678" name="mobile">
                                <div id="phoneNoHelp" class="form-text">You will receive an M-Pesa pop-up on your phone. Please enter your M-Pesa pin to complete the transaction</div>
                            </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-outline-success">Submit</button>
                        </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>

        <!-- Paypal modal -->
        <div class="modal fade" id="paypalModal" tabindex="-1" aria-labelledby="paypalModalLabel" aria-hidden="true" >
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content" id="m-pesaModalContent">
                    <div class="modal-header">
                        <h5 class="modal-title" id="m-pesaModalLabel">Paypal</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                    <div id="paypal-button-container"></div>

                    <!-- Include the PayPal JavaScript SDK -->
                    <script src="https://www.paypal.com/sdk/js?client-id=AZHgbmEC5kf3RMcOiO94d5QSq7NYgVeb8NhwMbbR2qBgsWUwX2752zKv8FZYgxcpp7AncFVtBabEdXHh&currency=USD"></script>
                    </div>

                </div>
            </div>
        </div>

        <!-- Stripe modal -->
        <div class="modal fade" id="stripeModal" tabindex="-1" aria-labelledby="stripeModalLabel" aria-hidden="true" >
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content" id="m-pesaModalContent">
                    <div class="modal-header">
                        <h5 class="modal-title" id="m-pesaModalLabel">Credit or Debit card</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form id="payment-form" method="POST" action="{% url 'charge' %}"> 
                            {% csrf_token %}
                            <div class="form-row">
                                {% comment %} <label for="card-element">
                                    Credit or Debit card
                                </label> {% endcomment %}
                                <div id="card-element">
                                    <!-- Elements will create input elements here -->
                                  </div>
                                
                                  <!-- We'll put the error messages in this element -->
                                  <div id="card-errors" role="alert"></div>
                            </div>
                            <br>
                            <button type="submit" id="submit" class="btn btn-outline-primary">Submit Payment</button>
                        </form>
                        
                        
                    </div>
                    

                </div>
            </div>
        </div>

        <div class="py-5 text-center" id="">
            <!--<img class="d-block mx-auto mb-4" src="../assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">-->
            <h2>Checkout form</h2>
            <p class="lead">...nothing so liberalizes a man and expands the kindly instincts that nature put in him as travel and contact with many kinds of people.
                <br>~ Mark Twain, 1867 ~</p>
        </div>
        {% if checkout %}
        {% for check in checkout %}
            <div class="row g-5">
                <!--payment details sidebar 1-->
                <div class="col-md-5 col-lg-4 order-md-last">
                    <h4 class="d-flex justify-content-between align-items-center mb-3" id="tourDetailsHeader">
                        <span class="text-success">Booking Summary</span>
                        
                        <!--<span class="badge bg-primary rounded-pill">3</span>-->
                        <!--<button type="button" class="badge bg-primary rounded-pill" data-bs-toggle="popover"
                                data-bs-title="Popover title" data-bs-placement="top" data-bs-content="And here's some amazing content. It's very engaging. Right?">3 tours</button>-->
                        <a tabindex="0" class="badge bg-success rounded-pill" role="button" data-bs-toggle="popover" data-bs-trigger="focus, hover"
                        data-bs-title="My Tours" data-bs-placement="top" data-bs-html="true"
                        data-bs-content=
                                "<a href='#' class='link-success'>Nairobi National Park Tour</a>
                                <br>
                                <a href='#' class='link-success'>The Karen Blixen Museum Tour</a>
                                <br>
                                <a href='#' class='link-success'>Kiambethu Farm Tour</a>
                                <br>
                                <a href='#' class='link-success'>All tours</a>">{{check.tour.count}}3 tours</a>
                    </h4>
                    <h6 class="text-muted">{{check.tour}}</h6>
                    <ul class="list-group mb-3">
                        <li class="list-group-item d-flex justify-content-between lh-sm">
                            <div>
                                <h6 class="my-0">Per person</h6>
                                <small class="text-muted">So affordable, yea?</small>
                            </div>
                            <span class="">${{check.tour.amount}}</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between lh-sm">
                            <div>
                                <h6 class="my-0">Number of people</h6>
                                <div class="input-group my-3">
                                    <input type="text" class="form-control" placeholder="1,8,17..." aria-label="Number of people" aria-describedby="peopleNumber" value={{check.slots}} disabled>
                                    <span class="input-group-text" id="peopleNumber">people</span>
                                </div>
                                <small class="">
                                </small>
                            </div>
                            <!--<span class="text-muted">$8</span>-->
                        </li>
                        <!--<li class="list-group-item d-flex justify-content-between lh-sm">
                            <div>
                                <h6 class="my-0">Third item</h6>
                                <small class="text-muted">Brief description</small>
                            </div>
                            <span class="text-muted">$5</span>
                        </li>-->
                        <li class="list-group-item d-flex justify-content-between">
                            <div class="text-success">
                                <h6 class="my-0">Discount</h6>
                                <small>Because we like you</small>
                            </div>
                            <span class="text-success">−${{check.tour.discount}}</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between">
                            <span>Total (USD)</span>
                            <strong>${{total}}</strong>
                        </li>
                    </ul>

                    <!--<form class="card p-2">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Promo code">
                            <button type="submit" class="btn btn-secondary">Redeem</button>
                        </div>
                    </form>-->
                </div>
                <!--sidebar2:not-working-->
                <!--<div class="col-md-5 col-lg-4 order-md-last">
                    <h4 class="d-flex justify-content-between align-items-center mb-3" id="paymentModesHeader">
                        <span class="text-success">Payment</span>
                        &lt;!&ndash;<span class="badge bg-primary rounded-pill">3</span>&ndash;&gt;
                        &lt;!&ndash;<button type="button" class="badge bg-primary rounded-pill" data-bs-toggle="popover"
                                data-bs-title="Popover title" data-bs-placement="top" data-bs-content="And here's some amazing content. It's very engaging. Right?">3 tours</button>&ndash;&gt;
                        &lt;!&ndash;<a tabindex="0" class="badge bg-success rounded-pill" role="button" data-bs-toggle="popover" data-bs-trigger="focus, hover"
                        data-bs-title="Your tours" data-bs-placement="top" data-bs-content="And here's some amazing content. It's very engaging. Right?">3 tours</a>&ndash;&gt;
                    </h4>
                    <ul class="list-group mb-3">
                        <li class="list-group-item d-flex justify-content-between lh-sm">
                            <div>
                                <h6 class="my-0">Per person</h6>
                                <small class="text-muted">So affordable, yea?</small>
                            </div>
                            <span class="">$300</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between lh-sm">
                            <div>
                                <h6 class="my-0">Number of people</h6>
                                <small class="">
                                    <div class="input-group my-3">
                                        <input type="text" class="form-control" placeholder="1,8,17..." aria-label="Number of people" aria-describedby="peopleNumber">
                                        <span class="input-group-text" id="">people</span>
                                    </div>
                                </small>
                            </div>
                            &lt;!&ndash;<span class="text-muted">$8</span>&ndash;&gt;
                        </li>
                        &lt;!&ndash;<li class="list-group-item d-flex justify-content-between lh-sm">
                            <div>
                                <h6 class="my-0">Third item</h6>
                                <small class="text-muted">Brief description</small>
                            </div>
                            <span class="text-muted">$5</span>
                        </li>&ndash;&gt;
                        <li class="list-group-item d-flex justify-content-between">
                            <div class="text-success">
                                <h6 class="my-0">Discount</h6>
                                <small>Because we like you</small>
                            </div>
                            <span class="text-success">−$20</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between">
                            <span>Total (USD)</span>
                            <strong>$20</strong>
                        </li>
                    </ul>

                    &lt;!&ndash;<form class="card p-2">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Promo code">
                            <button type="submit" class="btn btn-secondary">Redeem</button>
                        </div>
                    </form>&ndash;&gt;
                </div>-->
                <div class="col-md-7 col-lg-8">
                    <!--User Details-->
                    <h4 class="mb-3">User Details</h4>
                    <form class="needs-validation" novalidate action="" method="POST">
                        {% csrf_token %}
                        <div class="row g-3">
                            <div class="col-sm-6">
                                <label for="firstName" class="form-label">First name</label>
                                <input type="text" class="form-control" name="firstName" placeholder="" value="" required>
                                <div class="invalid-feedback">
                                    Valid first name is required.
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <label for="lastName" class="form-label">Last name</label>
                                <input type="text" class="form-control" name="lastName" placeholder="" value="" required>
                                <div class="invalid-feedback">
                                    Valid last name is required.
                                </div>
                            </div>

                            <!--<div class="col-12">
                                <label for="username" class="form-label">Username</label>
                                <div class="input-group has-validation">
                                    <span class="input-group-text">@</span>
                                    <input type="text" class="form-control" id="username" placeholder="Username" required>
                                    <div class="invalid-feedback">
                                        Your username is required.
                                    </div>
                                </div>
                            </div>-->

                            <div class="col-12">
                                <label for="email" class="form-label">Email <span class="text-muted"></span></label>
                                <input type="email" class="form-control" name="email" placeholder="you@example.com" value={{check.user.email}}>
                                <div class="invalid-feedback">
                                    Please enter a valid email address
                                </div>
                            </div>
                        </div>
                        
                        <hr class="my-4">

                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="save-info">
                            <label class="form-check-label" for="save-info">Save this information for next time</label>
                        </div>
                        

                        
                    <!--</form> -->

                    <hr class="my-4">

                    <h4>Tour(s) Details</h4>
                    <!--<form> -->
                        <div class="row g-3">
                            <div class="input-group col-auto">
                                <label class="input-group-text" for="tourDate">My tours</label>
                                <input class="form-control" type="text" value="{{check.tour}}" aria-label="tourDate" name="tour" readonly>
                            </div>
                                <div class="input-group col-auto">
                                    <label class="input-group-text" for="tourDate">Tour date(s)</label>
                                    <input class="form-control" type="text" value="{{check.start_date}} {% if check.end_date%}- {{check.end_date}} {% endif %}" aria-label="tourDate" name="tourDate" readonly>
                                </div>
                                <div class="input-group col-auto">
                                    <label class="input-group-text" for="tourTime">Tour time(s)</label>
                                    <input class="form-control" type="text" value="{{check.tour_time}}" aria-label="tourTime" name="tourTime" readonly>
                                </div>
                                <button type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                    Update
                                </button>
                                
                                {% comment %} <a href="{% url 'destination' %}" type="button" class=""></a> {% endcomment %}

                            <hr class="my-4">
                            
                                                    

                        

                        <h4 class="mb-3">Payment</h4>

                        <div class="row justify-content-center my-3 gy-3">
                            <div class="col-auto">
                                <a href="{% url 'paypal-test' booking %}" class="btn btn-outline-success" role="button" >Paypal</a>
                            </div>
                            <!-- <div class="col-auto">
                                <a class="btn btn-outline-info" role="button" data-bs-toggle="modal" data-bs-target="#stripeModal" >Visa/Mastercard</a>
                            </div>
                            <div class="col-auto">
                                <a class="btn btn-outline-info" role="button" data-bs-toggle="modal" data-bs-target="#pesapalModal" >Pesapal</a>
                            </div> -->
                            <div class="col-auto">
                                <!--<a class="btn btn-outline-info" role="button" href="#">M-Pesa</a>-->
                                <button type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#m-pesaModal">M-Pesa</button>
                            </div>
                        </div>
                        </div>
                        <hr class="my-4">
                        <div class="form-check">
                            {% if check.paid == True %}
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckCheckedDisabled" checked disabled>
                            {% else %}
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDisabled" disabled>
                            {% endif %}
                            
                            <label class="form-check-label" for="flexCheckDisabled">
                              Completed Payment
                            </label>
                        </div>

                        <hr class="my-4">

                        {% if check.paid == True %}
                            <button class="w-100 btn btn-success btn-lg mb-5" type="submit">Complete Checkout</button>
                        {% else %}
                            <button class="w-100 btn btn-success btn-lg mb-5" type="submit" disabled>Complete Checkout</button>
                            
                        {% endif %}
                        
                        {% comment %} <button class="w-100 btn btn-success btn-lg mb-5" type="submit">Complete Checkout</button> {% endcomment %}
                    </form>
                </div>
            </div>
        {% endfor %}
        {% endif %}

        
    </main>
</div>

{% endblock content %}