{% extends 'header.html' %}
{% block content %}
{% load static %}
<div data-bs-theme="dark" id="destinationContainer">
    <!--<div class="row" id="destinationHeaderImage">
        <div class="col">
            <img src="../images/1.jpg" class="img-fluid">
        </div>
    </div>-->
    <div class="row justify-content-center text-center" id="destinationContainerHeading">
        <div class="col">
            <h2>Nairobi National Park</h2>
        </div>
    </div>
    <div class="row justify-content-center text-center" id="destinationAboutContainer">
        <div class="col-sm-8">
            <p>
                About destination: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                ut labore et dolore magna aliqua. Magna eget est lorem ipsum dolor sit amet consectetur. Condimentum mattis
                pellentesque id nibh tortor. Ornare suspendisse sed nisi lacus sed viverra tellus. Lacus sed turpis tincidunt id aliquet risus.
            </p>
        </div>
    </div>
    <div class="row justify-content-center text-center">
        <div class="col-sm-4">
            <p>
                <strong>Tour notes:</strong>
                <br>
                bla bla bla
                <br>
                bla bla bla
                <br>
                bla bla bla
                <br>
                bla bla bla

            </p>
        </div>
        <div class="col-sm-4">
            <p>
                <strong>Tour schedule:</strong>
                <br>
                Morning session: 7:00AM - 12:00PM
                <br>
                Afternoon session: 1:00PM - 6:00PM
            </p>
        </div>
        <div class="col-sm-4">
            <p>
                <strong>Itinerary:</strong>
                <br>
                bla bla bla
                <br>
                bla bla bla
                <br>
                bla bla bla
                <br>
                bla bla bla
            </p>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-sm-6">
            <div class="form-floating" data-bs-theme="dark">
                <textarea class="form-control" placeholder="Leave a review here" id="destinationReview" style="height: 100px"></textarea>
                <label for="destinationReview">Review</label>
                <br>
            </div>
        </div>
    </div>

    <div class="row justify-content-center text-right">
        <div class="col-sm-6">
            <h6>Name of user: <i>date</i></h6>
            <p>
                Review: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                ut labore et dolore magna aliqua. Magna eget est lorem ipsum dolor sit amet consectetur. Condimentum mattis
                pellentesque id nibh tortor. Ornare suspendisse sed nisi lacus sed viverra tellus. Lacus sed turpis tincidunt id aliquet risus.
            </p>
        </div>
    </div>
</div>

{% endblock content %}



