{% extends 'header.html' %}
{% block content %}
{% load static %}

<div data-bs-theme="dark" id="destinationContainer">
    <!--<div class="row" id="destinationHeaderImage">
        <div class="col">
            <img src="../images/1.jpg" class="img-fluid">
        </div>
    </div>-->
    {% if tours%}
        {% for tour in tours%}
            <div class="row justify-content-center text-center" id="destinationContainerHeading">
                <div class="col">
                    <h2>{{tour.name}}</h2>
                </div>
            </div>
            <div class="row justify-content-center text-center" id="destinationAboutContainer">
                <div class="col-sm-8">
                    <p>
                        About destination: {{tour.about}}
                    </p>
                </div>
            </div>
            <div class="row justify-content-center text-center">
                <div class="col-sm-4">
                    <p>
                        <strong>Tour notes:</strong>
                        <br>
                        {{tour.notes}}

                    </p>
                </div>
                <div class="col-sm-4">
                    <p>
                        <strong>Tour schedule:</strong>
                        <br>
                        {{tour.schedule}}
                    </p>
                </div>
                <div class="col-sm-4">
                    <p>
                        <strong>Itinerary:</strong>
                        <br>
                        {{tour.itinerary}}
                    </p>
                </div>
            </div>

    <br>
    <!--booking-->
    <div class="justify-content-center" id="destinationBooking">
        <form class="row justify-content-center g-3" method="POST">
            {% csrf_token %}
            {% if tour.duration == 1 %}
                <div class=" col-3">
                    <!--<label for="datePickerFrom" class="">From</label>-->
                    <div class="input-group">
                        <div class="input-group-text" id="basic-addon2">Date</div>
                        <input type="date" class="form-control" id="datePickerTo" value="">
                    </div>
                </div>
            {% else %}
                <div class=" col-3">
                    <!--<label for="datePickerFrom" class="">From</label>-->
                    <div class="input-group">
                        <div class="input-group-text" id="basic-addon2">From</div>
                        <input type="date" class="form-control" id="datePickerTo" value="">
                    </div>
                </div>
                <div class="col-3">
                    <!--<label for="datePickerTo" class="">To</label>-->
                    
                    
                        <div class="input-group">
                            <div class="input-group-text" id="basic-addon1">To</div>
                            <input type="date" class="form-control" id="datePickerFrom" value="">
                        </div>
                    
                </div>
            {% endif %}
            

            <div class="col-auto" >
                <!--<label for="participants" class="visually-hidden">Password</label>-->
                <!--<input type="password" class="form-control" id="participants" placeholder="no. of people">-->
                <select class="form-select" aria-label="participants" name="slots">
                    <option selected>No. of people?</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <!--<option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>-->
                </select>
            </div>
            <div class="col-auto">
                <!--<button type="submit" class="btn btn-outline-success mb-3">Book Now</button>-->
                <button class="btn btn-outline-success" type=submit >Book Now</button>
            </div>
            <div class="row justify-content-center my-3">
            </div>
        </form>
    </div>
    <br>
            <div class="row justify-content-center">
                <div class="col-sm-6">
                    <form method="POST" action= "{%url "review" %}">
                        {% csrf_token %}
                        <div class="form-floating" data-bs-theme="dark">
                            <textarea class="form-control" placeholder="Leave a review here" name="comment" style="height: 100px" id="destinationReview"></textarea>
                            <label for="destinationReview">Review</label>
                            <br>
                            <button type="submit" class="btn btn-outline-primary">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </br>
       <div class="container">
            <h4><center><strong>REVIEWS<strong></center><h4>
            {% for review in review%}
            
                <h6><strong>User:</strong> {{review.user|upper}}</h6>
                <h6><strong>Review:</strong> {{review.comment}}</h6>
                <h6><strong>Date Reviewed:</strong> {{review.uploaded_date}}</h6>
            <br>
            {% endfor %}
        
        </div>
        <br></br>
        {% endfor %}
    {% endif %}
</div>


{% endblock content %}



