{% extends 'header.html' %}
{% block content %}
{% load static %}

<div data-bs-theme="dark" id="destinationContainer">
    <!--<div class="row" id="destinationHeaderImage">
        <div class="col">
            <img src="../images/1.jpg" class="img-fluid">
        </div>
    </div>-->
    {% if tours%}
        {% for tour in tours%}
            <div class="row justify-content-center text-center" id="destinationContainerHeading">
                <div class="col">
                    <h2>{{tour.name}}</h2>
                </div>
            </div>
            <div class="row justify-content-center text-center" id="destinationAboutContainer">
                <div class="col-sm-8">
                    <p>
                        About destination: {{tour.about}}
                    </p>
                </div>
            </div>
            <div class="row justify-content-center text-center">
                <div class="col-sm-4">
                    <p>
                        <strong>Tour notes:</strong>
                        <br>
                        {{tour.notes}}

                    </p>
                </div>
                <div class="col-sm-4">
                    <p>
                        <strong>Tour schedule:</strong>
                        <br>
                        {{tour.schedule}}
                    </p>
                </div>
                <div class="col-sm-4">
                    <p>
                        <strong>Itinerary:</strong>
                        <br>
                        {{tour.itinerary}}
                    </p>
                </div>
            </div>

    <br>
    <!--booking-->
    <div class="justify-content-center" id="destinationBooking">
        <form class="row justify-content-center g-3 needs-validation" method="POST" novalidate>
            {% csrf_token %}
            {% if tour.duration == 1 %}
                <div class=" col-sm-3">
                    <!--<label for="datePickerFrom" class="">From</label>-->
                    <div class="input-group">
                        <div class="input-group-text" id="basic-addon2">Date</div>
                        <input type="date" class="form-control" id="datePickerTo" name="start-date" value="" required>
                        <div class="valid-feedback">
                            All good!
                        </div>
                        <div class="invalid-feedback">
                            Please select a date
                        </div>
                    </div>
                </div>
            {% else %}
                <div class=" col-sm-3">
                    <!--<label for="datePickerFrom" class="">From</label>-->
                    <div class="input-group">
                        <div class="input-group-text" id="basic-addon2">From</div>
                        <input type="date" class="form-control" id="datePickerTo" name="start-date" value="" required>
                        <div class="valid-feedback">
                            All good!
                        </div>
                        <div class="invalid-feedback">
                            Please select a date
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <!--<label for="datePickerTo" class="">To</label>-->
                        <div class="input-group">
                            <div class="input-group-text" id="basic-addon1">To</div>
                            <input type="date" class="form-control" id="datePickerFrom" name="end-date" value="" required>
                            <div class="valid-feedback">
                                All good!
                            </div>
                            <div class="invalid-feedback">
                                Please select a date
                            </div>
                        </div>
                </div>
            {% endif %}

            <div class="col-sm-3">
                <div class="input-group">
                    <div class="input-group-text">Time</div>
                    <select class="form-select" aria-label="selectTime" name="tour-time" required>
                        <option value="" selected>Choose time</option>
                        <option value="06.30 a.m. - 09.30 a.m.">06.30 a.m. - 09.30 a.m.</option>
                        <option value="10.30 a.m. - 12.30 a.m.">10.30 a.m. - 12.30 a.m.</option>
                        <option value="12.30 p.m. - 02.30 p.m.">12.30 p.m. - 02.30 p.m.</option>
                    </select>
                    <div class="valid-feedback">
                        All good!
                    </div>
                    <div class="invalid-feedback">
                        Choose time of tour
                    </div>
                </div>
            </div>
            <div class="col-sm-3" >
                <div class="input-group">
                    <div class="input-group-text" id="basic-addon3">Participants</div>
                    <!--<label for="participants" class="input-group-text">Participants</label>-->
                    <input type="number" class="form-control" id="participants" placeholder="no. of people" name="slots" required>
                    <div class="valid-feedback">
                        All good!
                    </div>
                    <div class="invalid-feedback">
                        Choose number of people
                    </div>
                </div>
            </div>
            <div class="col-auto">
                <!--<button type="submit" class="btn btn-outline-success mb-3">Book Now</button>-->
                <button class="btn btn-outline-success" type=submit >Book Now</button>
            </div>

            <!--alert templates-->
            <!--<div class="row justify-content-center my-3">
                <div class="col-auto">
                    <p>Alert template</p>
                    <div class="alert alert-danger" role="alert">
                        A simple danger alert—check it out!
                    </div>
                </div>
                <div class="col-auto">
                    <div id="liveAlertPlaceholder"></div>
                    <button type="button" class="btn btn-primary" id="liveAlertBtn">Show live alert</button>
                </div>
            </div>-->
        </form>
    </div>
    <br>
            <div class="row justify-content-center">
                <div class="col-sm-6">
                    <form class="needs-validation" method="POST" action= "{%url "review" tour.id %}" novalidate>
                        {% csrf_token %}
                        <div class="form-floating" data-bs-theme="dark">
                            <textarea class="form-control" placeholder="Leave a review here" name="comment" style="height: 100px" id="destinationReview" required></textarea>
                            <label for="destinationReview">Review</label>
                            <div class="valid-feedback">
                                All good!
                            </div>
                            <div class="invalid-feedback">
                                Review cannot be blank
                            </div>
                            <br>
                            <button type="submit" class="btn btn-outline-primary">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </br>
       <div class="container">
            <h4><center><strong>REVIEWS<strong></center><h4>
            {% if review %}
            <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for review in review%}
                
                    <div class="col">
                        <div class="card">
                            <div class="card-header">
                                <center><h5>Reviewed by {{review.user|title}}</h5></center>
                            </div>
                            <div class="card-body">
                                <h6>{{review.comment}}</h6>
                            </div>
                            <div class="card-footer text-body-secondary">
                                <h6>On {{review.uploaded_date}}</h6>
                            </div>
                        </div>
                    </div>
                
            <br>
            {% endfor %}
            </div>
            {% else %}
                <h6>No reviews currently available</h6>
                
            {% endif %}
            
        
        </div>
        <br></br>
        {% endfor %}
    {% endif %}
</div>


{% endblock content %}



