{% extends 'header.html' %}
{% block content %}
{% load static%}
<div data-bs-theme="dark" id="excursionsContainer">
    <div class="row justify-content-center text-center" id="excursionsContainerHeader">
        <div class="col">
            <h2>Excursions</h2>
        </div>
    </div>
    <div class="row justify-content-center text-center">
        {% for tour  in tours %}
            <div class="col-sm-3 m-2">
                <div class="card">
                    <img src="{{tour.poster.url}}" class="card-img-top img-fluid" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{tour.name}}</h5>
                        <p class="card-text">
                            {{tour.description}}
                        </p>
                        <a href="{% url 'destination' tour.id %}" class="btn btn-outline-light">View tour</a>
                    </div>
                </div>
            </div>
        {% endfor %}
        <!--<div class="col-sm-3 m-2">
            <div class="card">
                <img src="../images/1.JPG" class="card-img-top img-fluid" alt="...">
                <div class="card-body">
                    <h5 class="card-title">bla bla bla</h5>
                    <p class="card-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                        ut labore et dolore magna aliqua.
                    </p>
                    <a href="#" class="btn btn-outline-light">View tour</a>
                </div>
            </div>
        </div>-->
        <!--<div class="col-sm-3 m-2">
            <div class="card">
                <img src="../images/1.JPG" class="card-img-top img-fluid" alt="...">
                <div class="card-body">
                    <h5 class="card-title">bla bla bla</h5>
                    <p class="card-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                        ut labore et dolore magna aliqua.
                    </p>
                    <a href="#" class="btn btn-outline-light">View tour</a>
                </div>
            </div>
        </div>-->
        <!--<div class="col-sm-3 m-2">
            <div class="card">
                <img src="../images/1.JPG" class="card-img-top img-fluid" alt="...">
                <div class="card-body">
                    <h5 class="card-title">bla bla bla</h5>
                    <p class="card-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                        ut labore et dolore magna aliqua.
                    </p>
                    <a href="#" class="btn btn-outline-light">View tour</a>
                </div>
            </div>
        </div>-->
    </div>
    <!--<div class="row justify-content-center text-center" id="excursionOneContainer">
        <div class="col-sm-6 text-center" id="excursionOneContainerImage">
            <img src={% static 'images/IMG_8048.JPG'%} class="rounded img-fluid">
            <h3><i>National Museum of Kenya</i></h3>
            <br><br>
        </div>
        <div class="col-sm-4 text-center" data-bs-theme="dark">
            <h6>Tour notes:</h6>
            <p>
                Tour Times: Anytime between 9:00AM - 5:00PM (E.A.T)
                <ul>
                    <Strong>Items to Carry:</Strong>
                    <br>
                    A camera: You want to capture the beauty<br>
                    Binoculars: You certainly want to see them closer<br>
                    Water: We will provide some, but carry extra just in case<br>
                </ul>
            </p>
            <form method="POST" action={% url "review" %}>
                <div class="input-group">
                    {% csrf_token %}
                    <span class="input-group-text">Leave a review</span>
                    <textarea class="form-control" aria-label="Leave a review" name="comment"></textarea>
                    <br>
                    <button type="submit" class="btn btn-outline-light">Submit</button>
                </div>
            </form>
        </div>
    </div>-->

    <!--<div class="row justify-content-center text-center" id="excursionTwoContainer">
        <div class="col-sm-4 text-center" data-bs-theme="dark">
            <h6>Tour notes:</h6>
            <p>
                Tour Times: Anytime between 9:00AM - 5:00PM (E.A.T)
                <ul>
                    <Strong>Items to Carry:</Strong>
                    <br>
                    A camera: You want to capture the beauty<br>
                    Binoculars: You certainly want to see them closer<br>
                    Water: We will provide some, but carry extra just in case<br>
                </ul>
            </p>
            <form method="POST" action={% url "review" %}>
                <div class="input-group">
                    {% csrf_token %}
                    <span class="input-group-text">Leave a review</span>
                    <textarea class="form-control" aria-label="Leave a review" name="comment"></textarea>
                    <br>
                    <button type="submit" class="btn btn-outline-light">Submit</button>
                </div>
            </form>
        </div>
        <div class="col-sm-6 justify-content-center text-center" id="excursionTwoContainerImage">
            <br><br>
            <img src={% static 'images/IMG_7950.JPG'%} class="rounded img-fluid">
            <h3><i>Karen Blixen</i></h3>
        </div>
    </div>-->
</div>
{% endblock content %}



