{% extends 'header.html' %}
{% block content %}
{% load static%}
<div data-bs-theme="dark" id="excursionsContainer">
    <div class="row justify-content-center text-center" id="excursionsContainerHeader">
        <div class="col">
            <h2>Excursions</h2>
        </div>
    </div>
    
    <div class="row justify-content-center text-center">
        {% for tour  in tours %}
            <div class="col-sm-3 m-2">
                <div class="card">
                    <img src="{{tour.poster.url}}" class="card-img-top img-fluid" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{tour.name}}</h5>
                        <p class="card-text">
                            {{tour.description}}
                        </p>
                        <div class="container" id="cartContainer">
                            <div class="row text-center" id="item5Container">
                                <div class="col-sm-9">
                                    <a href="{% url 'destination' tour.id %}" class="btn btn-light">View tour</a>
                                    <button class="btn btn-outline-success"><s>${{tour.amount}}</s>${{tour.discounted_total}}</button>
                                {% comment %} <a type="button" href="#"><i class="fa fa-plus-circle" aria-hidden="true"></i></a> {% endcomment %}
                                </div>
                                {% if user in tour.likes.all %}
                                <div class="col-sm-3">
                                    {{tour.number_of_likes}} <a class="link-danger" href="{% url 'like' tour.id %}" ><i class="fa-regular fa-heart"></i><p>unlike</p></a>
                                </div>
                                {% else %}
                                <div class="col-sm-3">
                                    {{tour.number_of_likes}} <a class="link-danger" href="{% url 'like' tour.id %}" ><i class="fa-solid fa-heart"></i><p>like</p></a>
                                </div>
                                {% endif %}
                                
                            </div>
                        </div>
                        {% comment %} <i class="fa-solid fa-heart" style="color: #f11e33;"></i> {% endcomment %}
                        
                        <a type="button" class="btn btn-outline-light d-grid mt-3" id="review" data-bs-toggle="modal" data-bs-target="#exampleModal{{tour.id}}">Leave a review</a>
                            <!-- Modal -->
                                <div class="modal fade" id="exampleModal{{tour.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="exampleModalLabel">Write your review below</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                                <form class="needs-validation" method="POST" action= "{% url 'review' tour.id %}" novalidate> 
                                                    {% csrf_token %}
                                                    <div class="form-floating" data-bs-theme="dark">
                                                        <textarea class="form-control" placeholder="Leave a review here" name="comment" style="height: 100px" id="destinationReview" required></textarea>
                                                        <label for="destinationReview">Review</label>
                                                        <div class="valid-feedback">
                                                            All good!
                                                        </div>
                                                        <div class="invalid-feedback">
                                                            Review cannot be blank
                                                        </div>
                                                        
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                        <button type="submit" class="btn btn-outline-primary">Submit</button>
                                                    </div>
                                                </form>
                                        </div>
                                        
                                    </div>
                                    </div>
                                </div>

                        
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}



