{% extends 'header.html' %}
{% block content %}
{% load static %}
<div id="galleryContainer">
    <div id="galleryHeader">
        <div class="row justify-content-center text-center">
            <div class="col-sm-8">
                <h1>Gallery</h1>
            </div>
        </div>
    </div>
    <div class="rounded img-fluid" id="imagesContainer">
        <div class="row justify-content-center">
            <div class="col-sm-3 p-3">
                <img src={% static 'images/3.JPG'%} class="rounded img-fluid" alt="...">
            </div>
            <div class="col-sm-3 p-3">
                <img src={% static 'images/5.JPG'%} class="rounded img-fluid" alt="...">
            </div>
            <div class="col-sm-3 p-3">
                <img src={% static 'images/IMG_7454.JPG'%} class="rounded img-fluid" alt="...">
            </div>
            <div class="col-sm-3 p-3">
                <img src={% static 'images/IMG_7587.JPG'%} class="rounded img-fluid" alt="...">
            </div>
            <div class="col-sm-3 p-3">
                <img src={% static 'images/IMG_7485.JPG'%} class="rounded img-fluid" alt="...">
            </div>
            <div class="col-sm-3 p-3">
                <img src={% static 'images/IMG_8710.JPG'%} class="rounded img-fluid" alt="...">
            </div>
            <div class="col-sm-3 p-3">
                <img src={% static 'images/IMG_7751.JPG'%} class="rounded img-fluid" alt="...">
            </div>
            <div class="col-sm-3 p-3">
                <img src={% static 'images/IMG_7572.JPG'%} class="rounded img-fluid" alt="...">
            </div>
            <div class="col-sm-3 p-3">
                <img src={% static 'images/tea1.JPG'%} class="rounded img-fluid" alt="...">
            </div>
            <div class="col-sm-3 p-3">
                <img src={% static 'images/IMG_7920.JPG'%} class="rounded img-fluid" alt="...">
            </div>
            <div class="col-sm-3 p-3">
                <img src={% static 'images/IMG_8049.JPG'%} class="rounded img-fluid" alt="...">
            </div>
        </div>
    </div>
</div>

{% endblock content %}


