{% extends 'header.html' %}
{% block content %}
{% load static %}
{% comment %} {% load custom_filters %} {% endcomment %}

<div class="container min-vh-100" id="cartContainer">
  <div class="row justify-content-center text-center" id="cartHeader">
    
    <div class="col-sm-6">
      <h2>Password Reset Sent</h2>
      {% comment %} <p>Here are all your tours</p> {% endcomment %}
    </div>
  </div>
  
  <p>We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.<br>

    If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.</p>
  
</div>

{% endblock content %}