{% extends 'header.html' %}
{% block content %}
{% load static %}
<main class="min-vh-100 w-100 m-auto text-center" id="signupContainer">
  <form method="POST" action="">
    <div class="col">
        <h2>Forgot Password?</h2>
        <p>Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.</p>
    </div>
    {% csrf_token %}
    {% for field in form %}
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label><br>
        {{field}}
    </div>
    
    {% endfor %}
    
    <button class="w-100 btn btn-lg btn-success" type="submit">Reset My Magical Password</button>
</form>
</main>

{% endblock content %}