{% extends 'header.html' %}
{% block content %}
{% load static %}
{% if form %}
<main class="min-vh-100 w-100 m-auto text-center" id="signupContainer">
    
    <form method="POST" action="">
        <div class="col">
            <h2>Enter new password</h2>
            <p>Please enter your new password twice so we can verify you typed it in correctly.</p>
        </div>
        {% csrf_token %}
        {% for field in form %}
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">{{field.label}}</label><br>
            {{field}}
            {{field.errors}}
        </div>
        
        {% endfor %}
        
        <button class="w-100 btn btn-lg btn-success" type="submit">Change My Magical Password</button>
    </form>
    
        
    {% comment %} <div class="col">
        
    </div> {% endcomment %}
        
    
    
  
</main>
{% else %}

{% comment %} {% load custom_filters %} {% endcomment %}

<div class="container min-vh-100" id="cartContainer">
  <div class="row justify-content-center text-center" id="cartHeader">
    
    <div class="col-sm-6">
        <h2>Password Reset Error</h2><br>
      {% comment %} <p>Here are all your tours</p> {% endcomment %}
    </div>
  </div>
  
  <center><p>The password reset link is no longer valid. Please request a new <a href="{% url 'password_reset' %}">password reset</a>.</p></center>
</div>

{% endif %}

{% endblock content %}