{% extends 'header.html' %}
{% block content %}
{% load static %}
<div data-bs-theme="dark" id="safariDestinationContainer">
    <div id="safariDestinationHeaderImage">
        <img src="../images/1.jpg" class="img-fluid">
    </div>

    <div class="row justify-content-right text-right" id="safariDestinationContainerHeading">
        <div class="col-sm-3">
            <h2>Nairobi National Park</h2>
        </div>
    </div>
    <div class="row justify-content-right text-right">
        <div class="col-sm-8">
            <p>
                About destination: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                ut labore et dolore magna aliqua. Magna eget est lorem ipsum dolor sit amet consectetur. Condimentum mattis
                pellentesque id nibh tortor. Ornare suspendisse sed nisi lacus sed viverra tellus. Lacus sed turpis tincidunt id aliquet risus.
            </p>
        </div>
    </div>
    <div class="row justify-content-right text-right">
        <div class="col-sm-6">
            <h6>Name of user: <i>date</i></h6>
            <p>
                Review: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                ut labore et dolore magna aliqua. Magna eget est lorem ipsum dolor sit amet consectetur. Condimentum mattis
                pellentesque id nibh tortor. Ornare suspendisse sed nisi lacus sed viverra tellus. Lacus sed turpis tincidunt id aliquet risus.
            </p>
        </div>
    </div>
</div>

{% endblock content %}



