{% extends 'header.html' %}
{% block content %}
{% load static %}
<div data-bs-theme="dark" id="safariToursContainer">
    <div class="row justify-content-center text-center" id="safariToursContainerHeader">
        <div class="col">
            <h2>Safari Tours</h2>
        </div>
    </div>
    <div class="row justify-content-center text-center">
        <div class="col-sm-3 m-2">
            <div class="card">
                <img src="../images/IMG_7724.JPG" class="card-img-top img-fluid" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Nairobi National Park</h5>
                    <p class="card-text">
                        At the heart of the city lies a jungle, awaiting your arrival, and we are ready to take you there.
                    </p>
                    <a href="#" class="btn btn-outline-light">View tour</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3 m-2">
            <div class="card">
                <img src="../images/whiterhinolg.jpg" class="card-img-top img-fluid" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Ol Pejeta Conservancy</h5>
                    <p class="card-text">
                        A gem where endangered species are to be found such as the White Rhino, chimpanzees amongst others.
                    </p>
                    <a href="#" class="btn btn-outline-light">View tour</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3 m-2">
            <div class="card">
                <img src="../images/IMG_7485.JPG" class="card-img-top img-fluid" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Masai Mara National Reserve</h5>
                    <p class="card-text">
                        See them, the big five, dare to go deeper into the wild, enjoy every moment, fearlessly experience wildlife.
                    </p>
                    <a href="#" class="btn btn-outline-light">View tour</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3 m-2">
            <div class="card">
                <img src="../images/hellsgate2.jpg" class="card-img-top img-fluid" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Hells Gate National Park</h5>
                    <p class="card-text">
                        This one is different! Walk along the paths, or ride your bike while watching the wildlife, red colored cliffs, rock towers, hot springs... the list is very long.
                    </p>
                    <a href="#" class="btn btn-outline-light">View tour</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3 m-2">
            <div class="card">
                <img src="../images/IMG_8126.JPG" class="card-img-top img-fluid" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Amboseli National Park</h5>
                    <p class="card-text">
                        Mt. Kilimanjaro stares right into your eyes while you stare at the big-tusked elephants and other wildlife. You might also get a taste of the masai culture while at it.
                    </p>
                    <a href="#" class="btn btn-outline-light">View tour</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3 m-2">
            <div class="card">
                <img src="../images/IMG_7403.JPG" class="card-img-top img-fluid" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Lake Nakuru National Park</h5>
                    <p class="card-text">
                        The fun start before you get there. The spectacular views of the Great Rift Valley usher you into an experience like no other.
                        Here you will see the iconic herds of Rhinos and other wildlife.
                    </p>
                    <a href="#" class="btn btn-outline-light">View tour</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3 m-2">
            <div class="card">
                <img src="../images/dikdik.jpg" class="card-img-top img-fluid" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Crescent Island</h5>
                    <p class="card-text">
                        A game park in the middle of the lake, here you will walk miles of trails in search of dik-diks, buffalo and many more.
                    </p>
                    <a href="#" class="btn btn-outline-light">View tour</a>
                </div>
            </div>
        </div>
        <!--<div class="col-sm-3 m-2">
           <div class="card">
               <img src="../images/1.JPG" class="card-img-top img-fluid" alt="...">
               <div class="card-body">
                   <h5 class="card-title">Serengeti National Park</h5>
                   <p class="card-text">
                       In millions they dare to cross to the other side, it is the great wild beast migration.
                   </p>
                   <a href="#" class="btn btn-outline-light">View tour</a>
               </div>
           </div>
       </div>-->
</div>
</div>

{% endblock content %}



