{% extends 'header.html' %}
{% block content %}
{% load static %}
<div data-bs-theme="dark" id="safariToursContainer">
    <div class="row justify-content-center text-center" id="safariToursContainerHeader">
        <div class="col">
            <h2>Safari Tours</h2>
        </div>
    </div>
    <div class="row justify-content-center text-center">
        {% for tour  in tours %}
            <div class="col-sm-3 m-2">
                <div class="card">
                    <img src="{{tour.poster.url}}" class="card-img-top img-fluid" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{tour.name}}</h5>
                        <p class="card-text">
                            {{tour.description}}
                        </p>
                        <a href="{% url 'destination' tour.id %}" class="btn btn-outline-light">View tour</a>
                    </div>
                </div>
            </div>
        {% endfor %}
        <!--<div class="col-sm-3 m-2">
           <div class="card">
               <img src="../images/1.JPG" class="card-img-top img-fluid" alt="...">
               <div class="card-body">
                   <h5 class="card-title">Serengeti National Park</h5>
                   <p class="card-text">
                       In millions they dare to cross to the other side, it is the great wild beast migration.
                   </p>
                   <a href="#" class="btn btn-outline-light">View tour</a>
               </div>
           </div>
       </div>-->
</div>
</div>

{% endblock content %}



