{% extends 'header.html' %}
{% block content %}
{% load static %}
<main class="min-vh-100 w-100 m-auto text-center" id="signinContainer">
    <form class="needs-validation" method="get" novalidate>
        <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

        <div class="form-floating mb-3">
            <input type="email" class="form-control" id="userEmail" placeholder="name@example.com" required>
            <label for="userEmail">Email address</label>
            <div class="valid-feedback">
                All good!
            </div>
            <div class="invalid-feedback">
                Please enter an email address
            </div>
        </div>
        <div class="form-floating mb-3">
            <input type="password" class="form-control" id="userPassword" placeholder="Password" required>
            <label for="userPassword">Password</label>
            <div class="valid-feedback">
                All good!
            </div>
            <div class="invalid-feedback">
                Please enter a password
            </div>
        </div>
        <div class="mb-3">
            <a class="link-light" href="#"><u>Forgot password?</u></a>
        </div>

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>
        <button class="w-100 btn btn-lg btn-success" type="submit">Sign in</button>
    </form>
</main>

{% endblock content %}